:root {
  --color01: #234270;
  --color02: #80808029;
  --color03: #fff;
  --color04: #ee1010;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: var(--color02);
}

/* >>>>>>>>>>"Topo"<<<<<<<<<< */
header .topo {
  width: 100%;
  height: 200px;
  background-image: url(./img/3_acessery.jpg);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  background-attachment: fixed;
}
header .nome {
  position: relative;
  top: 200px;
  height: 70px;
  text-align: center;
}
header .nome h1 {
  color: var(--color01);
  font-size: 68px;
}
header .nome h2 {
  color: var(--color01);
  font-size: 38px;
}

header .container-links {
  position: relative;
  top: 250px;
  text-align: center;
}
header .container-links a {
  color: var(--color01);
  padding: 10px;
  font-size: 20px;
}
header .container-links a:hover {
  color: var(--color04);
  font-size: 25px;
}

/* >>>>>>>>>>"Carregador"<<<<<<<<<<*/
main #carregador {
  position: relative;
  top: 210px;
  color: var(--color01);
  z-index: -1;
}
main .carregador h3 {
  text-align: center;
  font-size: 38px;
  line-height: 250px;
}
main .carregador .cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .carregador .imagem {
  background-color: var(--color03);
  border: 1px solid var(--color01);
  margin: 5px 0;
}
main .carregador .imagem img {
  width: 150px;
  height: 150px;
}
main .imagem p {
  max-width: 150px;
  text-align: center;
}
main .imagem span {
  text-align: center;
  color: var(--color04);
  padding: 0 8px;
}

/* >>>>>>>>>>"Fone de Ouvido"<<<<<<<<<< */
main #fone-de-ouvido {
  position: relative;
  top: 210px;
  color: var(--color01);
  z-index: -1;
}

main .fone-de-ouvido h3 {
  text-align: center;
  font-size: 38px;
  line-height: 250px;
}
main .fone-de-ouvido .cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .fone-de-ouvido .imagem {
  background-color: var(--color03);
  border: 1px solid var(--color01);
  margin: 5px 0;
}
main .fone-de-ouvido .imagem img {
  width: 150px;
  height: 150px;
}

/* >>>>>>>>>>"Caixa de Som"<<<<<<<<<< */
main #caixa-de-som {
  position: relative;
  top: 220px;
  color: var(--color01);
  z-index: -1;
}
main .caixa-de-som h3 {
  text-align: center;
  font-size: 38px;
  line-height: 250px;
}
main .caixa-de-som .cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .caixa-de-som .imagem {
  background-color: var(--color03);
  border: 1px solid var(--color01);
  margin: 5px 0;
}
main .caixa-de-som .imagem img {
  width: 150px;
  height: 150px;
}

/* >>>>>>>>>>"Fone Bluetooth"<<<<<<<<<< */
main #fone-bluetooth {
  position: relative;
  top: 220px;
  color: var(--color01);
  z-index: -1;
}
main .fone-bluetooth h3 {
  text-align: center;
  font-size: 38px;
  line-height: 250px;
}
main .fone-bluetooth .cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .fone-bluetooth .imagem {
  background-color: var(--color03);
  border: 1px solid var(--color01);
  margin: 5px 0;
}
main .fone-bluetooth .imagem img {
  width: 150px;
  height: 150px;
}

/* >>>>>>>>>>"Pelicula"<<<<<<<<<< */
main #pelicula {
  position: relative;
  top: 220px;
  color: var(--color01);
  z-index: -1;
}
main .pelicula h3 {
  text-align: center;
  font-size: 38px;
  line-height: 250px;
}
main .pelicula .cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .pelicula .imagem {
  background-color: var(--color03);
  border: 1px solid var(--color01);
  margin: 5px 0;
}
main .pelicula .imagem img {
  width: 150px;
  height: 150px;
}

/* >>>>>>>>>>"Microfone"<<<<<<<<<< */
main #microfone {
  position: relative;
  top: 220px;
  color: var(--color01);
  z-index: -1;
}
main .microfone h3 {
  text-align: center;
  font-size: 38px;
  line-height: 250px;
}
main .microfone .cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .microfone .imagem {
  background-color: var(--color03);
  border: 1px solid var(--color01);
  margin: 5px 0;
}
main .microfone .imagem img {
  width: 150px;
  height: 150px;
}

/* >>>>>>>>>>"Endereço"<<<<<<<<<< */
main #endereco {
  position: relative;
  top: 250px;
  margin: 80px 0;
  z-index: -1;
}
main .endereco h3 {
  text-align: center;
  font-size: 38px;
  line-height: 250px;
  color: var(--color01);
}
main .endereco .mapa iframe {
  width: 100%;
  margin: 25px 0;
  opacity: 60%;
}
/* >>>>>>>>>>"Horario"<<<<<<<<<< */
main .container {
  display: flex;
  flex-wrap: nowrap;
}

main .horario {
  width: 48%;
  text-align: center;
}
main .horario h4 {
  font-size: 26px;
  margin: 10px 0;
  color: var(--color01);
}
main .horario p {
  font-size: 25px;
  margin: 10px 0;
  color: var(--color01);
}
main .hora span {
  font-size: 20px;
  text-align: center;
  color: var(--color04);
}

/* >>>>>>>>>>"Formulario"<<<<<<<<<< */
main .form-box {
  width: 48%;
}
main .form-box h5 {
  font-size: 28px;
  text-align: center;
  color: var(--color01);
  margin: 10px 0;
}
main .form {
  text-align: center;
  padding: 10px 0;
  background-color: var(--color02);
}
main .form label {
  color: var(--color01);
  font-size: larger;
}
main .inputBox input {
  width: 170px;
  margin: 5px 0;
}
main .form button {
  width: 70px;
  background-color: var(--color02);
}

/* >>>>>>>>>>"Redes"<<<<<<<<<< */
main .redes {
  position: relative;
  top: 350px;
}
main .reds a {
  display: flex;
  justify-content: right;
}

/* >>>>>>>>>>"Roda Pé"<<<<<<<<<< */
footer .roda-pe {
  position: relative;
  top: 350px;
  height: 100px;
  background-color: var(--color01);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .roda-pe p {
  color: var(--color03);
  font-size: 20px;
  margin: 0 20px;
}
footer .roda-pe span {
  color: var(--color03);
  font-size: 20px;
}

/* >>>>>>>>>>""<<<<<<<<<< */
